OS_AUTH_URL=https://keystone.rc.nectar.org.au:5000/v3/
OS_PROJECT_ID=<your project ID goes here>
OS_PROJECT_NAME=<your project name goes here>
OS_USER_DOMAIN_NAME=Default
OS_PROJECT_DOMAIN_ID=default
OS_USERNAME=<your Nectar username goes here>
OS_REGION_NAME=Melbourne
OS_INTERFACE=public
OS_IDENTITY_API_VERSION=3
OS_PASSWORD=<your Nectar password goes here>
