limit_conn_zone $server_name zone=mewc_upload:1m;
server {
  listen 127.0.0.1:{{ web_proxy_port }};
  server_name localhost;
  client_max_body_size {{ max_upload_mb }}m;
  client_body_temp_path {{ mount_point }}/mewc-nginx-tmp;
  client_body_buffer_size 128k;
  client_body_timeout 60s;
  proxy_read_timeout 120s;
  proxy_request_buffering off;
  proxy_http_version 1.1;
  proxy_set_header Host $http_host;
  access_log off;
  location = /jobs {
    limit_conn mewc_upload 1;
    proxy_pass http://127.0.0.1:{{ bind_port }};
  }
  location / {
    proxy_pass http://127.0.0.1:{{ bind_port }};
  }
}
